export FLAKE_ROOT=$PWD
FLAKE_ARGS=()

export SWEETFFR_LOG=warn,sweetffr=info

source_env_if_exists .envrc.conf

use flake ${FLAKE_ROOT}#${FLAKE_SHELL-default} "${FLAKE_ARGS[@]}"

export FLAKE_OPTS=${FLAKE_OPTS:-"${FLAKE_ARGS[*]}"}
